
*.manifest
*.testlog
*.v2
*.tmp
Mercury.Language.Core.Test/bin/Debug/netcoreapp3.1/Mercury.Language.Core.Test.deps.json
Mercury.Language.Core.Test/bin/Debug/netcoreapp3.1/Mercury.Language.Core.Test.runtimeconfig.dev.json
Mercury.Language.Core.Test/bin/Debug/netcoreapp3.1/Mercury.Language.Core.Test.runtimeconfig.json
Mercury.Language.Core.Test/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Mercury.Language.Core.Test/obj/Debug/netcoreapp3.1/Mercury.Language.Core.Test.AssemblyInfo.cs
Mercury.Language.Core.Test/obj/Debug/netcoreapp3.1/Mercury.Language.Core.Test.csproj.CopyComplete
Mercury.Language.Core.Test/obj/project.assets.json
Mercury.Language.Core/bin/Debug/netstandard2.1/Mercury.Language.Core.deps.json
Mercury.Language.Core.Test/obj/Mercury.Language.Core.Test.csproj.nuget.dgspec.json
Mercury.Language.Core.Test/obj/Mercury.Language.Core.Test.csproj.nuget.g.props
Mercury.Language.Core.Test/obj/Mercury.Language.Core.Test.csproj.nuget.g.targets
Mercury.Language.Core.Test/obj/Debug/netcoreapp3.1/Mercury.Language.Core.Test.GeneratedMSBuildEditorConfig.editorconfig
Mercury.Language.Core.Test/obj/Debug/netcoreapp3.1/Mercury.Language.Core.Test.csproj.FileListAbsolute.txt
Mercury.Language.Core/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
Mercury.Language.Core/obj/Debug/netstandard2.1/Mercury.Language.Core.AssemblyInfo.cs
Mercury.Language.Core/obj/Debug/netstandard2.1/Mercury.Language.Core.csproj.FileListAbsolute.txt
Mercury.Language.Core/obj/Debug/netstandard2.1/Mercury.Language.Core.GeneratedMSBuildEditorConfig.editorconfig
Mercury.Language.Core/obj/Debug/netstandard2.1/Mercury.Language.Core.Properties.Resource.ja-JP.resources
Mercury.Language.Core/obj/Debug/netstandard2.1/Mercury.Language.Core.Properties.Resources.resources
Mercury.Language.Core/obj/Mercury.Language.Core.csproj.nuget.dgspec.json
Mercury.Language.Core/obj/Mercury.Language.Core.csproj.nuget.g.props
Mercury.Language.Core/obj/Mercury.Language.Core.csproj.nuget.g.targets
Mercury.Language.Core/obj/project.assets.json
*.nuspec
/.vs/Mercury.Language.Core/FileContentIndex
*.2
/Mercury.Language.Core/obj
/Mercury.Language.Core.Test/obj
.vs/Mercury.Language.Core/v17/.suo
.vs/ProjectEvaluation/mercury.language.core.metadata.v6.1
.vs/ProjectEvaluation/mercury.language.core.projects.v6.1
/Mercury.Language.Core/bin/Debug
/Mercury.Language.Core.Test/bin/Debug
/Mercury.Language.Core/bin/Release/net7.0
/.vs/Mercury.Language.Core/v17/DocumentLayout.json
/.vs/ProjectEvaluation/mercury.language.core.metadata.v7.bin
/.vs/ProjectEvaluation/mercury.language.core.projects.v7.bin
/Mercury.Language.Core.Test/bin/Release/net7.0
